<template name="landing">
  <div class="wrapper">
    <div class="row">
      <a href="/team" class="waves-effect waves-red btn-large green game-button-half team"><i class="mdi-image-filter-1 right"></i>Team</a>
      <a href="/team" class="waves-effect waves-red btn-large green right-align game-button-half team"><i class="mdi-image-filter-2 right"></i>Team</a>
    </div>
    <div class="row">
      <a href="/team" class="waves-effect waves-red btn-large green game-button-half team"><i class="mdi-image-filter-3 right"></i>Team</a>
      <a href="/team" class="waves-effect waves-red btn-large green right-align game-button-half team"><i class="mdi-image-filter-4 right"></i>Team</a>
    </div>
    <div class="row">
      <a href="/team" class="waves-effect waves-red btn-large green game-button-half team"><i class="mdi-image-filter-5 right"></i>Team</a>
      <a href="/team" class="waves-effect waves-red btn-large green right-align game-button-half team"><i class="mdi-image-filter-6 right"></i>Team</a>
    </div>
    <div class="row">
      <a href="/team" class="waves-effect waves-red btn-large green game-button-half team"><i class="mdi-image-filter-7 right"></i>Team</a>
      <a href="/team" class="waves-effect waves-red btn-large green right-align game-button-half team"><i class="mdi-image-filter-8 right"></i>Team</a>
    </div>
    <a href="/gameboard" class="waves-effect waves-red btn-large green game-button-full team"><i class="mdi-av-games right"></i>Game Board</a>
  </div>
</template>