<template name="teamAnswers">
  <ul class="collection with-header">
    <li class="collection-header green"><h4>Awesomeness</h4></li>
    <li class="collection-item col s12">marbles<i class=""></i></li>
    <li class="collection-item col s12">cigar</li>
    <li class="collection-item col s12">playing cards</li>
    <li class="collection-item col s12">coaster</li>
    <li class="collection-item col s12">battery</li>
    <li class="collection-item col s12">chew toy</li>
    <li class="collection-item col s12">barbie</li>
    <li class="collection-item col s12">paper clip</li>
  </ul>
</template>
